
# This is the variables from output of the LCA stack deployment to run locally follow that documentation for more information
REACT_APP_USER_POOL_ID=XXXXXXXXXXXXXXX
REACT_APP_USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXX
REACT_APP_IDENTITY_POOL_ID=XXXXXXXXXXXXXXX
REACT_APP_APPSYNC_GRAPHQL_URL=XXXXXXXXXXXXXXX
REACT_APP_AWS_REGION=XXXXXXXXXXXXXXX
REACT_APP_SETTINGS_PARAMETER=XXXXXXXXXXXXXXX
REACT_APP_ENABLE_LEX_AGENT_ASSIST=XXXXXXXXXXXXXXX

# Variables are to run the live translation functionality
REACT_APP_WS_ENDPOINT=XXXXXXXXXXXXXXX(websocket endpoint of the API Gateway for the translation)
REACT_APP_CCP_URL=XXXXXXXXXXXXXXX(AWS Connect instance access URL, you should add this "/connect/ccp-v2" after the instance access URL- e.g->  https://<YOUR_INSTANCE_ALIAS>.my.connect.aws/connect/ccp-v2)
REACT_APP_ALLOWED_ORIGIN_1=XXXXXXXXXXXXXXX(approved origin as per the AWS Connect)
REACT_APP_ALLOWED_ORIGIN_2=XXXXXXXXXXXXXXX(approved origin as per the AWS Connect)